extends ../shared/template

block less
 link(rel='stylesheet', href='/less/leaderboard.css')

block content
  #wrapper
    h1 Nod&#233;Mon Leaderboard

    .row
      .small-12.columns
        table#leaderboard
          thead
            th
            th Name
            th Species
            th Class
            th Points
          tbody
            each pet in pets
              tr
                td
                  a(href='/pets/'+pet._id.toString())
                    img(src=pet.image).petIcon
                td= pet.name
                td= pet.species
                td= pet.role
                td= pet.strength + pet.constitution + pet.wisdom + pet.dexterity + pet.intelligence
