extends ../shared/template

block content
  .row
    .small-3.columns#activityBox
      h1 Activities
      if activities.length > 0
        table#activitiesTable
          thead
            th(colspan='2') Activities
          tbody
      if user._id.toString() === showUser._id.toString()
        a(href='/activities/new')
          button Add an Activity!
    .small-9.columns
      .row
        .small-12.columns
          h1#username= showUser.name
          if user._id.toString() === showUser._id.toString()
            h4 Home is at #{showUser.coordinate.join(', ')}
            h4 Your last login was at #{showUser.lastLogin.getUTCHours()}:#{showUser.lastLogin.getUTCMinutes()} on #{showUser.lastLogin.getUTCMonth()+1}/#{showUser.lastLogin.getUTCDate()}/#{showUser.lastLogin.getUTCFullYear()}.
            div#nodebucksbox
              h4 #{showUser.nodeBucks.toString()}
            h4= showUser.loginDifference 
      .row#petBox
        .small-12.columns
          if pets.length > 0
            each pet in pets
              table#petTable
                thead
                  th(colspan='2')
                    a(href='/pets/'+pet._id.toString())= pet.name
                tbody
                  tr
                    td Species
                    td= pet.species
                  tr
                    td Class
                    td= pet.role
                  tr
                    td Status
                    td= pet.status
          if pets.length === 0 && user._id.toString() === showUser._id.toString()
            a(href='/pets/new')
              button.alert#getPet Welcome to Nod&#233;Mon! Click here to get your first companion!

block less
  link(rel='stylesheet', href='/less/users.css')
